<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page for ejs</title>
</head>

<body>
    <h1>Ejs home page</h1>
    <br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis sed praesentium consequuntur voluptate debitis
        quo dignissimos mollitia quam, maiores excepturi? Eaque obcaecati repudiandae illum consequuntur? Provident
        nostrum voluptas iure laboriosam.
        Nostrum animi nobis, accusamus atque rerum aspernatur numquam quia corrupti quo iusto praesentium dicta nihil
        nulla ea voluptatum commodi amet odit deleniti, reprehenderit quae modi deserunt est natus sit. Illum?
        Cum iste ab quam possimus sint esse ipsa omnis nam voluptatum, corrupti quae atque voluptatem accusamus sit
        eveniet dicta quibusdam itaque autem at officiis iure provident dolorem sed. Aut, consequatur.
        Ab molestiae recusandae perspiciatis possimus expedita nesciunt dolorem dignissimos placeat numquam!
        Consectetur, quis provident! Molestias inventore voluptatem mollitia ullam dolores est dignissimos libero, porro
        necessitatibus, id dolor sint quo atque.
        Recusandae quia ullam odit, distinctio ipsum, necessitatibus explicabo ab, neque consectetur maiores minus modi.
        Ea fugit ipsa beatae neque recusandae assumenda perferendis suscipit, officia saepe, nihil cupiditate eius.
        Beatae, corrupti?</p>
    <button>click me!</button>
</body>

</html>