<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs tags</title>
</head>
<body>
    <h1>ejs tags using via parameter</h1>
    <br><br>
    <h1>This page belongs to @<%= username %></h1>
    <button>follow</button>
    <button>share</button>
</body>
</html>